.lanyard-wrapper {
  position: relative;
  width: 100%;
  height: 120vh;
  min-height: 600px;
}

.lanyard-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

@media (max-width: 640px) {
  .lanyard-wrapper {
    height: 80vh;
    min-height: 500px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .lanyard-wrapper {
    height: 100vh;
    min-height: 600px;
  }
}

@media (min-width: 769px) {
  .lanyard-wrapper {
    height: 140vh;
    min-height: 800px;
  }
}

