.plasma-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.plasma-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

/* When used as full page background */
.plasma-container.fixed {
  position: fixed;
}

